@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Black+Ops+One');

body {
  margin:auto;
  font-family: 'Open sans', sans-seriv;
  font-weight: 600;
  background-color:#eee;
  overflow: scroll;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
}

#header {
  margin:auto;
  padding:10px 10px 10px 10px;
  text-align:center;
  background-color: #003982;
  background-image: url('visualcube/visualcube.php?fmt=svg&size=200&bg=t&case=FRUR3U3F3');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  border-bottom:1px solid #aaa;
}
  #header a:link, #header a:visited, #header a:hover, #header a:active {
    padding:10px, 10px, 10px, 10px;
    text-decoration: none;
    font-family: 'Black Ops One', cursive;
    font-size: 60px;
    color: black;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: white;
  }

#content {
  padding:10px 10px 10px 10px;
  margin:auto;
  max-width:85%;
}

                /* Stuff */

.epTable, .epTable td {
  min-width: 20px;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid black;
  border-collapse: collapse;
}

.ollcpTable {
  display: inline;
  text-align: center;
}
  .ollcpTabletd {
    border: 1px solid black;
    background-color: #e1e1e1;
  }
    .ollcpTabletd:active {background-color: #ccc;}

#algViewContent {
  text-align: center;
}

.boxBox {
  margin:auto;
}
.topBox {
  border-bottom: 1px solid black;
}
.bottomBox {
  border-bottom: 1px solid black;
}
.leftBox {
  height:20px;
  width:30px;
}
.midBox input {
  height:25px;
  width:300px;
  }
.rightBox input {
  height:30px;
  width:30px;
  display: block;
  border-radius: 2px;
  border: 1px solid black;
}
  .rightBox input:hover {
    background-color: rgba(0, 0 ,0 ,0.5);
  }
